<template>
  <nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Fourmizzz desktop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
            <li class="nav-item">
              <router-link class="nav-link active" aria-current="page" :to="{ name: 'home' }">Account</router-link>
            </li>
            <template v-if="account.id !== undefined && account.id !== null && account.id !== ''">
              <li class="nav-item">
                <router-link class="nav-link" :to="{ name: 'dashboard' }">Tableau de bord</router-link>
              </li>
              <!-- <li class="nav-item">
                <router-link class="nav-link" :to="{ name: 'account' }">Ponte</router-link>
              </li> -->
              <li class="nav-item">
                <router-link class="nav-link" :to="{ name: 'construction' }">Construction</router-link>
              </li>
              <li class="nav-item">
                <router-link class="nav-link" :to="{ name: 'recherche' }">Recherche</router-link>
              </li>
              <li class="nav-item">
                <router-link class="nav-link" :to="{ name: 'convoi' }">Convoi</router-link>
              </li>
              <!-- <li class="nav-item">
                <router-link class="nav-link" :to="{ name: 'account' }">Armée</router-link>
              </li> -->
            </template>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</template>

<script setup>

import { useAccountStore } from '@/stores/account';
import { computed } from 'vue';

const accountStore = useAccountStore()

const account = computed(() => accountStore.user)

</script>