<template>
  <div class="table-responsive">

    <table class="table table-bordered table-hover caption-top">
      <caption v-if=title>{{ title }}</caption>
      <thead>
        <tr>
          <th v-for="(header, index) in headers" :key="index">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in items" :key="index">
          <td v-for="(data, index2) in item" :key="index2">
            {{ data }}
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</template>

<script setup>
defineProps({
  title: {
    type: String,
  },
  headers: {
    type: Array,
    default: () => [],
  },
  items: {
    type: Array,
    default: () => [],
  }
})
</script>

<style scoped>
.table *{
  /* background-color: #fff9f9; */
}
</style>