<template>
  <div id="account" class="container p-4">
    <div class="row">
      <div class="col-md-4" v-for="i in 20" :key="i">
        <div class="row">
          <div class="col-md-12">
            Pseudo : Camren.Hessel
          </div>
          <div class="col-md-12">
            Serveur : net
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
  #account {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
</style>
