<template>
  <div class="container">

    <the-table title="Liste des convois en cours" :headers="convoi.header" :items="convoi.content" />

    <div class="row mb-3 align-items-center">
      <div class="col-auto">
        <label class="col-form-label">Pommes</label>
      </div>
      <div class="col-auto">
        <input type="text" class="form-control" v-model="pomme">
      </div>
    </div>

    <div class="row mb-3 align-items-center">
      <div class="col-auto">
        <label class="col-form-label">Materiaux</label>
      </div>
      <div class="col-auto">
        <input type="text" class="form-control" v-model="bois">
      </div>
    </div>

    <div class="row mb-3 align-items-center">
      <div class="col-auto">
        <label class="col-form-label">Destinataire</label>
      </div>
      <div class="col-auto">
        <input type="text" class="form-control" v-model="destinataire">
      </div>
    </div>

    <button class="btn">
      <img src="@/assets/icons/icons8-delivery-64.png" alt="" @click="lancement()">
    </button>

  </div>
</template>

<script setup>
import TheTable from '@/components/TheTable.vue';
import { computed, onMounted, ref } from 'vue';
import { useConvoiStore } from '@/stores/convoi'

const convoiStore = useConvoiStore()

const pomme = ref('')
const bois = ref('')
const destinataire = ref('')

const convoi = computed(() => {
  return {
    header: convoiStore.header,
    content: convoiStore.content,
    list: convoiStore.list,
  }
})

const lancement = async () => {
  await convoiStore.sendConvoi(
    pomme.value,
    bois.value,
    destinataire.value,
  )
}

onMounted(async () => {
  await convoiStore.list()
});
</script>
