<template>
  <div class="container">

    <div class="row">

      <the-table class="col-md-12" title="Liste des pontes en cours" :headers="ponte.header" :items="ponte.content" />

      <the-table class="col-md-6" title="Liste des convoi en cours" :headers="convoi.header" :items="convoi.content" />

      <the-table class="col-md-6" title="Liste des chasses en cours" :headers="chasse.header" :items="chasse.content" />

      <the-table class="col-md-6" title="Liste des constructions en cours" :headers="construction.header"
        :items="construction.content" />

      <the-table class="col-md-6" title="Liste des recherches en cours" :headers="recherche.header"
        :items="recherche.content" />

      <the-table class="col-md-6" title="Attaques en cours" :headers="attaque.header" :items="attaque.content" />

      <the-table class="col-md-6" title="Messagerie" :headers="message.header" :items="message.content" />

    </div>

  </div>
</template>

<script setup>
import TheTable from '@/components/TheTable.vue';
import { computed, onMounted } from 'vue';
import { useMessagerieStore } from '@/stores/messagerie'
import { useAttaqueStore } from '@/stores/attaque'
import { useRechercheStore } from '@/stores/recherche'
import { useConstructionStore } from '@/stores/construction'
import { usePonteStore } from '@/stores/ponte'
import { useConvoiStore } from '@/stores/convoi'
import { useChasseStore } from '@/stores/chasse'

const messagerieStore = useMessagerieStore()
const attaqueStore = useAttaqueStore()
const rechercheStore = useRechercheStore()
const constructionStore = useConstructionStore()
const ponteStore = usePonteStore()
const convoiStore = useConvoiStore()
const chasseStore = useChasseStore()

const attaque = computed(() => {
  return {
    header: attaqueStore.header,
    content: attaqueStore.content,
  }
})

const recherche = computed(() => {
  return {
    header: rechercheStore.header,
    content: rechercheStore.content,
  }
})

const construction = computed(() => {
  return {
    header: constructionStore.header,
    content: constructionStore.content,
  }
})

const ponte = computed(() => {
  return {
    header: ponteStore.header,
    content: ponteStore.content,
  }
})

const message = computed(() => {
  return {
    header: messagerieStore.header,
    content: messagerieStore.content,
  }
})

const convoi = computed(() => {
  return {
    header: convoiStore.header,
    content: convoiStore.content,
  }
})

const chasse = computed(() => {
  return {
    header: chasseStore.header,
    content: chasseStore.content,
  }
})

onMounted(async () => {
  await messagerieStore.list()
  await ponteStore.list()
  await convoiStore.list()
  await chasseStore.list()
  await attaqueStore.list()
  await constructionStore.actual()
  await rechercheStore.actual()
});
</script>
