<template>
  <div id="account" class="container p-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">

      <div class="col-md-12">
        <div class="card h-100">
          <img src="" class="card-img-top" alt="">
          <div class="card-body">
            <div class="mb-3 row">
              <div class="col-auto">
                <label for="pseudo" class="col-form-label">Pseudo</label>
              </div>
              <div class="col-auto">
                <input type="text" id="pseudo" v-model="pseudo" class="form-control" maxlength="25"
                  aria-describedby="pseudo">
              </div>
            </div>

            <div class="mb-3 row">
              <div class="col-auto">
                <label for="pseudo" class="col-form-label">Password</label>
              </div>
              <div class="col-auto">
                <input type="password" id="password" v-model="password" class="form-control" maxlength="25"
                  aria-describedby="password">
              </div>
            </div>

            <div class="mb-3 row">
              <div class="col-auto">
                <label for="serveur" class="col-form-label">Serveur</label>
              </div>
              <div class="col-auto">
                <input type="text" id="serveur" class="form-control" v-model="serveur" maxlength="2"
                  aria-describedby="serveur">
              </div>
            </div>

            <button type="button" class="btn btn-primary" @click="addUser">Ajouter</button>
          </div>
        </div>
      </div>

      <div class="col" v-for="(user, index) in accounts" :key="index">
        <div class="card h-100">
          <img src="" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">
              Pseudo : {{ user.pseudo }}
              <button class="position-absolute top-0 start-50 translate-middle badge rounded-pill btn btn-success"
                @click="setUser(user.id)" v-if="user.id !== account.id">Play</button>
              <button class="position-absolute top-0 start-100 translate-middle badge rounded-pill btn btn-danger"
                @click="removeUser(user.id)">x</button>
            </h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Serveur : {{ user.serveur }}
            </li>
            <li class="list-group-item">
              Derniere consultation : {{ user.derniere_connexion }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
#account .card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none;
}
</style>

<script setup>
import { useAccountStore } from '@/stores/account';
import { computed, ref } from 'vue';
import { useRouter } from 'vue-router';

let pseudo = ref("")
let password = ref("")
let serveur = ref("")

const accountStore = useAccountStore()

const accounts = computed(() => accountStore.users)
const account = computed(() => accountStore.user)

accountStore.getAccounts()

const addUser = () => {
  accountStore.addUser(
    pseudo.value,
    password.value,
    serveur.value
  )
}

const removeUser = (id) => {
  accountStore.deleteAccount(id)
}

const setUser = async (id) => {
  let result = await accountStore.selectAccount(id)

  if(result) {
    const route = useRouter()
    route.push({name: 'dashboard'})
  }
}

</script>