<template>
  <div class="container">

    <the-table title="Liste des recherches en cours" :headers="recherche.header" :items="recherche.content" />
    
    <div class="row">
      <div class="col-md-6 mb-3" v-for="(item, index) in recherche.list" :key="index">

        <div class="card" style="max-width: 540px; height: 100%;">
          <div class="row g-0">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ item[0] }} - {{ item[1] }}</h5>
                <p class="card-text">{{ item[2] }}</p>
                <p class="card-text"><small class="text-body-secondary">Temps nécessaire : {{ item[6] }} <img src="@/assets/icons/icons8-timer-16.png" width="20" alt=""> </small></p>
              </div>
            </div>
            <div class="col-md-4 d-flex flex-column bd-highlight">
              <div class="p-2 bd-highlight">{{ item[3] }} <img src="@/assets/icons/icons8-ant-48.png" width="30" alt=""> </div>
              <div class="p-2 bd-highlight">{{ item[4] }} <img src="@/assets/icons/icons8-apple-fruit-48.png" width="30" alt=""> </div>
              <div class="p-2 bd-highlight">{{ item[5] }} <img src="@/assets/icons/icons8-logs-48.png" width="30" alt=""> </div>
              <div class="p-2 bd-highlight">
                <button type="button" class="btn" @click="lancement(item[0])">
                  <img src="@/assets/icons/icons8-laboratory-48.png" width="40" alt="">
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</template>

<script setup>
import TheTable from '@/components/TheTable.vue';
import { computed, onMounted } from 'vue';
import { useRechercheStore } from '@/stores/recherche'

const rechercheStore = useRechercheStore()

const recherche = computed(() => {
  return {
    header: rechercheStore.header,
    content: rechercheStore.content,
    list: rechercheStore.list,
  }
})

const lancement = async (recherche) => {
  await rechercheStore.lancementRecherche(recherche)
}

onMounted(async () => {
  await rechercheStore.actual()
  await rechercheStore.listeRecherche()
});
</script>
