<script setup>
import { RouterView } from 'vue-router'

import TheMenu from './components/TheMenu.vue';

</script>

<template>
  <section>

    <the-menu />

    <RouterView class="mt-5" />
  </section>
</template>
